body {
  padding: 50px 8px 8px;
}
rect.appearance {
  stroke: rgb(235, 179, 148);
  stroke-width: 0.5px;
  cursor: default;
}
rect.clickable {
  cursor: pointer;
}
rect.hover1 {
  fill: rgb(255, 0, 0) !important;
}
rect.active1 {
  fill: rgb(255, 0, 0) !important;
}
#actor1.active .form-control {
  border-color: rgb(255, 0, 0);
}
rect.hover2 {
  fill: rgb(0, 255, 0) !important;
}
rect.active2 {
  fill: rgb(0, 255, 0) !important;
}
#actor2.active .form-control {
  border-color: rgb(0, 255, 0);
}
rect.common {
  fill: rgb(235, 179, 148) !important;
}
.hoverTooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.hoverTooltip.hidden {
  display: none;
}
.hoverTooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}
#top {
  width: 100%;
  display: table;
  clear: both;
  margin: 8px 0;
}
.row-centered {
  display: block;
  height: 28px;
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.actor .form-control {
  padding: 5px 6px;
  height: 28px;
}

.actorControl {
  display: inline;
  cursor: pointer;
  color: #777;
}
.actorControl.left {
    margin-right: -5px;
  }
.actorControl.right {
    margin-left: -5px;
  }
.actorControl:hover {
  color: #000;
  background-color: #eee;
}
.actorControl:active {
  background-color: #ddd;
}
.search {
  display: inline-block;
  width: 73%;
}
.form-control {
  border-radius: 0px;
}

.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  width: 100% !important;
  color: #999;
  width: 90%;
  padding: 8px 6px;
  height: 28px;
}

.tt-dropdown-menu {
  width: 422px;
  /*margin-top: 12px;
  padding: 8px 0;*/
  background-color: #fff;
  /*border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

/*.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}*/

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/*.tt-suggestion p {
  margin: 0;
}*/
.tt-suggestion {
  cursor: pointer;
  padding: 1px 5px;
  border-width: 1px;
  border-style: solid solid none solid;
  border-color: #ccc;
}
.tt-suggestion:last-child {
  border-bottom-style: solid;
}
.searchActorName {
  font-size: 14px;
  margin-bottom: 3px;
}
.searchCharacterName{
  font-size: 12px;
}
.alternateRow:nth-child(odd) {
  background-color: #CCC;
}