<div class="row alternateRow">
  <div class="col-xs-6">
  {{{characterLink CharacterID Character}}}
  </div>
  <div class="col-xs-6">
  {{{titleLink TitleID Title}}}
  {{episodes this}}
  </div>
</div>