<div class="row alternateRow">
<div class="col-xs-4">
{{{characterLink CharacterID1 Character1}}}
</div>
<div class="col-xs-4">
{{{titleLink TitleID Title}}}
{{episodes this}}
</div>
<div class="col-xs-4">
{{{characterLink CharacterID2 Character2}}}
</div>
</div>